Dialogs.as
Dialogs.as.sig
Discord/
Formatting.as
Formatting.as.sig
Icons.as
Icons.as.sig
Patch.as
Patch.as.sig
Plugin_BigDecorNext.as
Plugin_BigDecorNext.as.sig
Plugin_ClassicMenu.as
Plugin_ClassicMenu.as.sig
Plugin_EditorDeveloper.as
Plugin_EditorDeveloper.as.sig
Plugin_InfiniteEmbedSize.as
Plugin_InfiniteEmbedSize.as.sig
Plugin_MapAudioFix.as
Plugin_MapAudioFix.as.sig
Plugin_UsefulInformation.as
Plugin_UsefulInformation.as.sig
README.txt
Stats/
Time.as
Time.as.sig
